/* Body (S) , applies to the whole site */
body {
	background-color:#;
}

/* Wrapper, keeps the site in place */
body {
text-align : center ;
}

.wrapper {
	width: 960px;
	position:relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}




#header  {
width:102%;
height:72px;
margin-left:-8px;
margin-top:-8px;
background-image:url('themes/default/header.png');
background-repeat:repeat-x;
}

#slider {
width:102%;
height:400px;
margin-left:-8px;
background-image:url('themes/default/slider.png');
background-repeat:repeat-x;
}

#logo {
 float: left;
 margin-top:-70px;
}

#texting {
float: left;
margin-top:-300px;

}

#content {
width:101%;
height:400px;
float: left;
margin-left:px;
background-image:url('images/content.png');
background-repeat:repeat-x;
}


#render {
 float:right
}

























