body {
  margin:0px 0px;
  padding: 100px 0px 100px 200px;
  margin-left:-300px;
  margin-top:10px;
}

#container {
 width:959px;
 position:relative;
 min-height: 100%;
 height: auto !important;
 height: 100%;
 margin: 0 auto -4em;
}

// Support of Internet Explorer
#container {
width:960px;
margin: 0 auto;
text-align: left
}

#logo {
 position: relative;
 margin-top:-110px;
 margin-left:-431px;
}

#middle {
 position: relative;
 margin-left:-431px;
 margin-top:-1px;
}

#logos {
 position: relative;
 margin-top:-457px;
 margin-left:-300px;
}

#preview {
 position: absolute;
 margin-top:159px;
 margin-left:105px;
}

#previewtext {
 position: absolute;
 margin-top:80px;
 margin-left:100px;
}

